<section>
  <header>
    <h1>Daily Todo's</h1>
    <form>
      <input
        type="text"
        name="search"
        placeholder="Search Task"
        [(ngModel)]="searchText"
      />
    </form>
  </header>
  @if (busy()) {
  <span>Loading...</span>
  } @else if (!todoItems().length) {
  <span>No Todos Found</span>
  } @else {
  <ul>
    @for (todo of todoItems() | filterTodos : searchText(); track $index) {
    <app-todo-item [todo]="todo" (updated)="updateTodoItem($event)" />
    }
  </ul>
  }
</section>
